.header {
  display: flex;
  padding: 24px 64px;
  align-items: center;
  border-bottom: 1px solid #f2f4f7;
  background-color: #cfcfcf5b;
  width: 1440px;
  margin: 0 auto;
}

.navigation {
  list-style-type: none;
  margin-left: 450px;
  padding: 0;
}

.navList {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
  width: 8.625rem;
  height: 1.5rem;
}

.navigationLink {
  text-decoration: none;
  color: #101828;
  font-family: var(--font-inter-medium), sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5;
  transition: 0.2s;
}

.navigationLink:hover {
  color: #d84343;
}
