.detailsWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 10px;
  justify-content: flex-start;
}

.tabsPanel {
  width: 100%;
  width: 1312px;
}

.contentArea {
  display: flex;
  gap: 40px;
  margin-top: 56px;
  width: 1440px;
}

.featuresContent {
  width: 631px;
  background-color: #cfcfcf5b;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.leftColumn {
  width: 631px;
  flex-shrink: 0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.rightColumn {
  width: 641px;
  flex-shrink: 0;
  border: 1px solid #dadde1;
  border-radius: 10px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  row-gap: 16px;
  margin: 44px 52px 100px 52px;
  min-height: 48px;
}

.tagItem {
  display: flex;
  align-items: center;
  gap: 8px;
  background: #f2f4f7;
  mix-blend-mode: multiply;
  padding: 12px 18px;
  border-radius: 100px;
  font-size: 14px;
  color: #101828;
}

.text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #101828;
}

.detailsBlock {
  display: flex;
  flex-direction: column;
  margin: 0 52px 44px 52px;
}

.detailsTitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: #101828;
  border-bottom: 1px solid #dadde1;
  margin-top: 0;
  padding-bottom: 24px;
  margin-bottom: 24px;
}

.detailsList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.detailsList li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detailsList li span:first-child {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #101828;
  text-align: left;
}

.detailsList li span:last-child {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #101828;
  text-align: right;
}

.reviewsContainer {
  width: 631px;
  height: 340px;
  display: flex;
  flex-direction: column;
  gap: 44px;
}

.reviewItem {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.reviewAvatar {
  width: 60px;
  height: 60px;
  border-radius: 60px;
  background: #f2f4f7;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  color: #e44848;
}

.reviewContent {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #101828;
  padding-top: 8px;
}

.reviewerName {
  font-weight: 600;
  font-size: 16px;
}

.stars {
  display: flex;
  gap: 4px;
}

.starIcon {
  width: 16px;
  height: 16px;
  display: inline-block;
}

.reviewComment {
  font-size: 14px;
  line-height: 1.4;
  color: #333;
  margin-top: 8px;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #475467;
}
