html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  font-family: var(--font-inter-regular), sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f8f9fa;
}

h1 {
  font-family: var(--font-inter-semibold), sans-serif;
}

p,
span,
a {
  font-family: var(--font-inter-medium), sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 64px;
  padding-right: 64px;
}
